<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz-5</title>
</head>
<body>
  <div id="app-1">

    <div class="formInput">

      <!--model lama::: <input type="text" v-bind:value="formUser" @input="formUser = $event.target.value"> -->
      <input type="text" v-model:value="formmatKul" >
      {{formmatKul}}
     
    </div>

    <!-- <input v-model="gantidata" placeholder="tambah"> <button onclick="vm.tambahPeserta()">add</button> -->
   <div class="matkulList">
   
      <ul>
        <li v-for="(matKuliah in matKuliahs" :key="index">   
            <p>  
            {{matKuliah}}   
            
        </p> 
          </li>
      </ul>
  </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app-1',
      data: {
            matKuliahs: [
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Linier Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
            ],
            formmatKul:'',
      },

      computed : {

      },

      methods : {
      
      }

  });
  </script>


</body>
</html>